html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

select {
  border-radius: 2;
  border-color: #737475; 
  height: 30px;
  font-size: 16px;
  transition: 0.3s ease-in;
}

select:hover {
  border-radius: 2;
  border-color: #d6dde6;
}